@model Eviivo.Web.Models.StringMatchViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @using (Html.BeginForm("Match", "String",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        <div>
            @Html.LabelFor(x => x.Text)
            @Html.EditorFor(x => x.Text)
            @Html.ValidationMessageFor(x => x.Text)
        </div>
        <div>
            @Html.LabelFor(x => x.SubText)
            @Html.EditorFor(x => x.SubText)
            @Html.ValidationMessageFor(x => x.Text)
        </div>

        <input type="submit" value="Compare" />

        <div>
            @if (Model != null && Model.Output != null && Model.Output.Any())
            {
                <h1>Output</h1>
                foreach(var output in Model.Output)
                {
                    @output <span>,</span>
                }
            }
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}